Xft.dpi: 100

! font
urxvt*faceName: Monospace
urxvt-unicode*faceSize: 18

! special
*.foreground:   #d9d7ce
*.background:   #212733
*.cursorColor:  #d9d7ce

! black
*.color0:       #272d38
*.color8:       #242B38

! red
*.color1:       #ff3333
*.color9:       #f07178

! green
*.color2:       #95e6cb
*.color10:      #bbe67e

! yellow
*.color3:       #ffae57
*.color11:      #ffc44c

! blue
*.color4:       #5ccfe6
*.color12:      #80d4ff

! magenta
*.color5:       #f07178
*.color13:      #ff3333

! cyan
*.color6:       #d4bfff
*.color14:      #95e6cb

! white
*.color7:       #ffffff
*.color15:      #d9d7ce

